body {
    background-color: #f8f9fa; /* Optional background color */
}

.container {
    max-width: 400px;
}
.border {
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #fff;
    padding: 90px !important;
}
.login-bg{
    background-image: url("https://images.unsplash.com/photo-1424298397478-4bd87a6a0f0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
